
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('imageTable.jpeg');
    background-repeat: repeat-x;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-align: center;
}



h1 {
    color:goldenrod
    
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    background: goldenrod;
    color: #016f32;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
}

